{% extends 'base.html' %}

{% load static %}

{% block 'main' %}

<div class="row mt-5">
    <div class="col">
        <h5 class="bg-primary text-white p-2">Contact Us</h5>
        <p><strong>Have a question, suggestion, or just want to say hello? We'd love to hear from you! Feel free to reach out to us using any of the following methods:</strong></p>
        <br>
        <p><strong>Customer Support:</strong><br>
            <b>Email:</b>&nbsp;&nbsp;support@farmers.com
            <br><b>Phone:</b>&nbsp;&nbsp;+91 7415831658
        </p>

        <p><strong>Business Inquiries:</strong>&nbsp;&nbsp;For business-related inquiries, partnerships, or collaboration opportunities, please contact us at:<br>
            <b>Email:</b>&nbsp;&nbsp;business@farmers.com
        </p>
        <p><strong>Social Media:</strong>&nbsp;&nbsp;Connect with us on social media:<br>
            <strong>Facebook:</strong><a href="http://www.facebook.com" class="anchor link-primary">&nbsp;&nbsp;Facebook Page</a><br>
            <strong>Instagram:</strong><a href="http://wwww.instagram.com " class="anchor link-primary">&nbsp;&nbsp;Intagram Page</a><br>
            <strong>Twitter:</strong><a href="http://wwww.twitter.com" class="anchor link-primary">&nbsp;&nbsp;Twitter Page</a></p>
        <p><strong>Working Hours:</strong>&nbsp;&nbsp;Our customer support team is available to assist you during the following hours:<br>      
            <b>Monday - Friday:</b>&nbsp;&nbsp; 9:00 AM - 6:00 PM<br>
            <b>Saturday:</b>&nbsp;&nbsp; 10:00 AM - 3:00 PM<br>
            <b>Sunday:</b>&nbsp;&nbsp; Closed
        </p>
        <p><strong>Feedback:</strong>&nbsp;&nbsp;We value your feedback! If you have any suggestions or comments about our app, please fill out our feedback form <a href="#">click here</a> to help us improve our services.</p>
        <p><strong>Technical Support:</strong>&nbsp;&nbsp;For technical issues or app-related problems, please contact our technical support team at:<br>
            <b>Email:</b>&nbsp;&nbsp;techteam@farmers.com
            <br><b>Phone:</b>&nbsp;&nbsp;+91 1236547893
        </p>
        <p><strong>We're Here to Help:</strong>
            <br>At Farmers, we are committed to providing excellent customer service and support. 
            Your satisfaction is our priority, and we're here to assist you in any way we can. Thank you for choosing us and being a part of our community.
        </p>
        <p>Warm regards,</p>
        <p>The Farmers Team</p>
    </div>
</div>    

{% endblock 'main' %}